

    /* Variables */

    :root {

        /* Colors */
        --color-green: #00b661;
        --color-red: #fa0021;
        --color-grey: #f3f3f3;
        --color-border-grey: #eaeaea;
        --color-white: white;

        /* Space */
        --space-unit: 1em;
        --space-xxs:  calc(0.25 * var(--space-unit));
        --space-xs:   calc(0.5 * var(--space-unit));
        --space-sm:   calc(0.75 * var(--space-unit));
        --space-md:   calc(1.25 * var(--space-unit));
        --space-lg:   calc(2 * var(--space-unit));
        --space-xl:   calc(3.25 * var(--space-unit));
        --space-xxl:  calc(5.25 * var(--space-unit));
    }


    /* Reset & Element page */

    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body{
        font-family: 'Roboto', sans-serif;
    }

    .wrapper{
        display: block;
        max-width: 900px;
        margin: 0 auto;
        padding: 0px 15px 0px;
    }

